<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Comfy</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-stars nav-icon" aria-hidden="true"></i> Generate
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gallery">
                <i class="bi bi-images nav-icon" aria-hidden="true"></i> Gallery
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history">
                <i class="bi bi-clock-history nav-icon" aria-hidden="true"></i> History
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prompts">
                <i class="bi bi-bookmark-star nav-icon" aria-hidden="true"></i> Prompt Bank
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit-queue">
                <i class="bi bi-pencil-square nav-icon" aria-hidden="true"></i> Edit Queue
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="image-library">
                <i class="bi bi-folder2-open nav-icon" aria-hidden="true"></i> Image Library
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="batch">
                <i class="bi bi-stack nav-icon" aria-hidden="true"></i> Batch Builder
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="batch/monitor">
                <i class="bi bi-activity nav-icon" aria-hidden="true"></i> Batch Monitor
            </NavLink>
        </div>

    </nav>
</div>
